{% load static %}

<body  data-spy="scroll" data-target="#navbar-example"> 
<header id="header" class="fixed-top">
        <div class="container d-flex justify-content-between">

            <div class="logo">
                <h1 class="text-light"> <a href="{% url 'index' %}"> <img src="/static/img/Capturekendra-removebg-preview.png" class="img-fluid" alt="" style="width: 30px; height: 110px;">
                    </a> <a href="{% url 'index' %}"> <span style="color: rgb(240, 22, 22);">K</span>endra <span style="color: rgb(240, 22, 22);">Group</span></a></h1>

            </div>

            <nav class="nav-menu d-none d-lg-block">
              <ul>
                <li
                {% if '/' == request.path %}
                class="nav-item active mr-3"
                {% else %}
                 class="nav-item mr-3"
                 {% endif %}
                 >
                <a href="{% url 'index' %}">Home</a></li>
                 <li
                {% if 'about' in request.path %}
                class="nav-item active mr-3"
                {% else %}
                 class="nav-item mr-3"
                 {% endif %}
                 ><a href="{% url 'about' %}">About</a></li>
                <li class="drop-down"
                 {% if 'Services' in request.path %}
                class="nav-item active mr-3"
                {% else %}
                 class="nav-item mr-3"
                 {% endif %}
                ><a href="">Services</a>
                  <ul>
                    <li
                 ><a href="{% url 'automobiles'%}">Automobile</a></li>
                     <li><a href="{% url 'landsales'%}">Land For Sale</a></li>
                    <li><a href="{% url 'houserents' %}">House For Rent</a></li>
                    <li><a href="{% url 'housesales' %}">House For Sale</a></li>
                  </ul>
                </li>
               <li
                {% if 'faq' in request.path %}
                class="nav-item active mr-3"
                {% else %}
                 class="nav-item mr-3"
                 {% endif %}
                 ><a href="{% url 'faq' %}">FAQ</a></li>
              </ul>
            </nav><!-- .nav-menu -->

        </div>
    </header>
    </body>