{% extends 'base.html' %}
{% load humanize %}
{% block content %}

 <br> <br> <br> <br>
   <!-- House for sale -->
   <div class="container">
    <div class="row mt-5">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="section-headline services-head text-center">
          <h2 style="color: #2d335c;">House for Rent </h2>
        </div>
      </div>
    </div>
    <!-- House 1 -->
    <div class="row mt-5">
    {% if houserents %}
        {% for houserent in houserents %}
           <div class="col-md-6 col-lg-3 mb-4">
        <div class="card">
          <img src="{{houserent.image.url}}" class="card-img-top" alt="House 1"style="width:1920px;height:190px;">
          <div class="card-body">
            <h5 class="card-title text-center" style="color: #2d335c;"> <i class="fa fa-map-marker"></i> {{houserent.location}}</h5>
            <hr style="color: rgb(240, 22, 22); ">

            <p class="card-text text-center"> <small class="text-center" style="color: rgb(240, 22, 22); ">Brief
                details: <br></small>{{houserent.brief}}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="fa fa-money"></i> Price: #{{houserent.price | intcomma}} <small>(Negotaible)</small></li>
            <li class="list-group-item"><i class="fa fa-bed"></i> Bedroom: {{houserent.bedroom}}</li>
            <li class="list-group-item"> <i class="fa fa-bath"></i> Bathroom: {{houserent.bathroom}}</li>
            <li class="list-group-item"> <i class="fa fa-th-large"></i> land size: {{houserent.landsize}}</li>

          </ul>
          <div class="card-body">
            <a href="{% url 'houserent' houserent.id %}" class="btn  text-light  col-12" style="  background-color: #2d335c;">More info</a>

          </div>
        </div>

      </div>
        {% endfor %}
    {% else %}
        <div class="col-md-12">
        <h3>No Houserent available</h3>
      </div>
    {% endif %}
     
     </div>
     </div>
     <div class="blog-pagination">
        {% if houserents.has_other_pages %}
             <ul class="pagination justify-content-center mt-3">
             {% if houserents.has_previous %}
                    <li class="page-item"><a href="?page={{houserents.previous_page_number}}" class="page-link">&laquo;</a></li>
             {% else %}
                    <li class="page-item disabled"><a class="page-link">&laquo;</a></li> 
             {% endif %}
         {% for i in houserents.paginator.page_range %}
          {% if houserents.number == i %}
              <li class="page-item active"><a class="page-link">{{i}}</a></li>
              {% else %}
              <li class="page-item"><a href="?page={{i}}" class="page-link">{{i}}</a></li>
          {% endif %}
        {% endfor %}

         {% if houserents.has_next %}
                    <li class="page-item"><a href="?page={{houserents.next_page_number}}" class="page-link">&raquo;</a></li>
             {% else %}
                    <li class="page-item disabled"><a class="page-link">&raquo;</a></li> 
             {% endif %}

           </ul>
      {% endif %}
        </div> 
        <br> <br> 
{% endblock %}